@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Montserrat&display=swap");

body {
  font-family: "Baloo Bhai 2", cursive;
  background-image: url(https://tuk-cdn.s3.amazonaws.com/can-uploader/rm380-02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  border: none;
}

.logo {
  margin-left: 10px;
  margin-top: 5px;
  border-radius: 100px;
  cursor: pointer;
  width: 70px;
  background-color: rgb(255, 247, 6);
  padding: 10px;
}

.btn {
  margin-right: 40px;
}

ul {
  margin-left: 100px;
}

ul li {
  display: inline-block;
  margin: 30px;
}

ul li a {
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 25px;
  padding-left: 17px;
  padding-right: 17px;
}
.man-image {
  margin-left: -800px;
  margin-top: 150px;
  width: 100%;
  max-width: 600px;
}
.image-man-main{
  width: 100%;
  display: flex;
  justify-content: center;
}

.contact {
  margin-top: 100px;
  font-size: 70px;
  background-color: rgb(248, 218, 85);
  text-align: center;
  color: rgb(77, 77, 77);
}
.sumit-input{
  border: 1px solid ;
  width: 100%;
  max-width: 150px;
  margin-top: 50px;
  margin-left: 170px;
  color: white;
  height: 23px;
  display: flex;
  cursor: pointer;
  border-radius: 2px;
  justify-content: center;
  background:transparent ;
}
.logo-image {
  width: 80px;
}
.log-box {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
}
.box-center {
  background-image: url(https://tuk-cdn.s3.amazonaws.com/can-uploader/6077505.jpg);
  width: 500px;
  margin-top: 220px;
  background-size: cover;
  height: 350px;
  border-radius: 5px;
}
.email-label {
  color: white;
  font-size: 40px;
  margin-left: 20px;
}
.pass-label {
  color: white;
  font-size: 40px;
  margin-left: 20px;
}

.email {
  border: none;
  border-radius: 3px;
  color: black;
  font-size: 16px;
  font-weight: 100px;
  width: 100%;
  max-width: 300px;
  display: flex;
  align-items: center;
  margin-left: 110px;
  height: 35px;
  justify-content: center;
}

.pass {
  border: none;
  border-radius: 3px;
  color: black;
  font-size: 16px;
  font-weight: 100px;
  width: 100%;
  max-width: 300px;
  height: 35px;

  display: flex;
  align-items: center;
  margin-left: 110px;
  justify-content: center;
}
@media only screen and (max-width: 1080px) {
  .man-image {
    margin-left: -740px;
    margin-top: 150px;
    width: 100%;
    max-width: 600px;
  }
  .image-man-main{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
}
